/* stylelint-disable */
/* purgecss start ignore */
@import '~nprogress/nprogress.css';
@import "../variables";

#nprogress .bar {
    background: $nprogress !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px $nprogress, 0 0 5px $nprogress !important;
}

#nprogress .spinner-icon {
    border-top-color: $nprogress !important;
    border-left-color: $nprogress !important;
}
/* purgecss end ignore */
